{% include 'header.html' %}
<div class="contenedor-login">
    <form method="POST" action="/login" enctype="multipart/form-data">

        <div class="form-group">
            <label for="inputUserName">Nombre de usuario</label>
            <input type="text" class="form-control" id="inputUserName" name="username">
        </div>
        <div class="form-group">
            <label for="inputPassword">Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" name="password">
        </div>

        <input type="submit" class="btn btn-secondary btn-login" value="Ingresar">

    </form>
</div>
{% include 'footer.html' %}